@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    position: relative;
}

/* Contenedor del login con efecto glow */
.login-container {
    background: #1b1b1b;
    padding: 2rem;
    border-radius: 16px;
    text-align: center;
    color: white;
    width: 350px;
    position: relative;
    z-index: 1;
}

.login-container h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: white;
}

/* Estilo de inputs */
.input-group {
    margin: 1rem 0;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background: #2b2b2b;
    color: white;
    outline: none;
    border: 1px solid white;
    transition: 0.3s ease;
}

.input-group input::placeholder {
    color: #ccc;
}

/* Botón login */
.btn {
    width: 100%;
    padding: 12px;
    background: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn:hover {
    background: #243B55;
    color: white;
}

/* Link de registro */
.register {
    margin-top: 10px;
    font-size: 0.9rem;
}

.register a {
    color: white;;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

/* Ícono de mostrar/ocultar contraseña */
i {
    font-size: 27px;
    position: absolute;
    right: 10px;
    top: 8px;
    color:white;
}

.oauth-login-container{
    display: flex;
    align-items: center;
}

.svg-oauth{
    width: 30px;
}

.oauth{
    background-color: white;
}